@import '../base/_colors'
@import '../base/_variables'
@import '../layout/_mixin'

%title

    h3
        font-family: $title-font
        margin: 0 auto;
        text-transform: lowercase
        font-size: 35px
        position: relative

        @include respond-to(handhelds)
            font-size: 28px

        span
            font-size: 110px
            color: $brand-color

        &::after
            position: absolute
            content: ""
            left: 62px
            top: 73px
            color: #dedede
            font-size: 36px
            z-index: -100
            letter-spacing: -1px
            word-spacing: 3px

            @include respond-to(handhelds)
                font-size: 29px
                top: 80px

%service-pos
    position: absolute
    border: 1px dashed $brand-color