@import '../base/colors';
@import '../base/variables';
@import '../layout/extend';
@import '../layout/mixin';

*
    margin: 0
    padding: 0

img
    width: 100%

html 
    scroll-behavior: smooth
    overflow: scroll
    overflow-x: hidden
    // overflow-y: hidden

body 
    font-family: $font
    box-sizing: border-box
    @include transition(all 0.7s ease)

::selection 
  background-color: $brand-color
  color: $white

::-webkit-scrollbar-track
    background-color: #fff

::-webkit-scrollbar
    width: 10px
    background-color: #fff

::-webkit-scrollbar-thumb:hover
    border-radius: 10px
    background: #f8ffe8
    background: -moz-linear-gradient(top, #f8ffe8 0%, #daffb2 19%, #1dbf73 85%)
    background: -webkit-linear-gradient(top, #f8ffe8 0%,#daffb2 19%,#1dbf73 85%)
    background: linear-gradient(to bottom, #f8ffe8 0%,#daffb2 19%,#1dbf73 85%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#1dbf73',GradientType=0)

::-webkit-scrollbar-thumb
    // border-radius: 10px
    background: #f8ffe8
    background: -moz-linear-gradient(top, #1dbf73 0%, #daffb2 19%, #f8ffe8 85%)
    background: -webkit-linear-gradient(top, #1dbf73 0%,#daffb2 19%,#f8ffe8 85%)
    background: linear-gradient(to bottom, #1dbf73 0%,#daffb2 19%,#f8ffe8 85%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dbf73', endColorstr='#f8ffe8',GradientType=0)

html 
    overflow: scroll
    overflow-x: hidden

header
    background-color: $brand-color
    padding: 10px 0
    text-transform: capitalize

    @include respond-to(handhelds)
        text-align: center !important

    .wrapper
        color: $white
        font-size: 16px
        
        svg 
            font-size: 16px
            color: $white
    .icons
        @include respond-to(handhelds)
            text-align: center !important

        a
            font-size: 16px
            padding: 0 2px
            color: $white

nav 
    top: 44px !important

    @include respond-to(handhelds)
        top: 68px !important

    .logo
        color: $dark !important
        font-size: 24px

    .menu 
        ul
            li 
        
                a
                    font-size: 18px
                    color: $dark !important
                    @include transition(all 0.3s ease)
                    border-bottom: 0px solid $brand-color 
                    height: 46px

                    &:hover
                        color: $brand-color !important
                        border-bottom: 4px solid $brand-color 
                        @include transition(all 0.7s ease)

aside
    width: 400px
    text-align: center
    padding: 50px 0
    position: fixed
    height: 100%
    border-right: 3px dashed $brand-color

    @include respond-to(large)
        width: 320px !important

    @include respond-to(normal-devices)
        position: relative !important
        width: 100% !important
        border-right: 0px !important
        border-bottom: 3px dashed $brand-color !important

    img
        width: 200px
        border-radius: 75%
        border: 10px solid $brand-color-opacity
    
    .info
        padding: 20px 0 0

        h2
            font-family: $title-font

        .typed, .typed-cursor
            color: $brand-color
            font-size: 24px
    
    .icons
        padding: 10px 0 20px
        
        a
            svg
                font-size: 20px
                margin: 1px
    
    button
        &:hover
            color: $white !important

            a
                color: $white
        a
            color: $brand-color

            &:hover
                color: $white !important
                text-decoration: none

section
    .main-div
        .slideshow-container
            padding: 30px 0 0;

            @include respond-to(normal-devices)
                padding: 0px 0 !important

            #about
                p
                    font-size: 20px
                
                .title
                    @extend %title

                    h3
                        &::after
                            content: "bout me"

                .info
                    margin: 30px 0

                .icons
                    margin-bottom: 30px

                    span
                        font-size: 30px

                        svg
                            color: $brand-color
                            font-size: 20px

                    a
                        &:hover

                            svg
                                @include transition(all 0.7s ease)
                                @include transform(scale(1.2,1.4))

                        svg
                            font-size: 18px
                            margin-right: 3px
                            @include transition(all 0.7s ease)

                button
                    svg
                        @include transition(all 0.7s ease)
                    
                    &:hover
                        svg
                            margin-left: 5px
                            @include transition(all 0.7s ease)

            #services
                .title
                    @extend %title

                    h3
                        &::after
                            content: "y services"
                            left: 88px
                            top: 73px

                            @include respond-to(handhelds)
                                    left: 88px
                                    top: 79px
                
                .services

                    .service-section
                        text-align: center
                        margin: 30px 0 0
                        @include transition(all 1.5s ease)

                        &:hover
                            @include transition(all 1.5s ease)
                            @include transform(scale(1.2,1.2))

                        h3
                            font-family: $title-font
                            margin: 30px 0 10px

                        div
                            width: 100px
                            padding: 25px 0
                            border-radius: 100%
                            margin: 0 auto
                            border: 3px dashed $brand-color
                            svg
                                font-size: 40px
                                color: $brand-color

                        p
                            font-size: 16px
                            margin-top: 10px
                            padding: 5px 18px
                            text-align: justify

                .process
                    margin: 20px 0 0
                    text-align: center

                    h4
                        text-align: left
                        margin-bottom: 20px

                        &::before
                            content: ""
                            position: absolute
                            border: 2px dashed #fbfafa
                            width: 350px
                            border-radius: 3px
                            top: 15px
                            left: 182px

                            @include respond-to(handhelds)
                                width: 200px

                    .wrapper
                        width: 100px
                        display: inline-block
                        padding: 10px 0
                        text-align: center
                        background-color: #1dbf73
                        border-radius: 100%
                        cursor: pointer
                        @include transition(all 1s ease)

                        &:hover
                            @include transition(all 1s ease)
                            @include transform(scale(1.5,1.5))

                        @include respond-to(smallDevices)
                            margin-bottom: 20px !important

                        .icon
                            svg
                                font-size: 22px
                                margin: 15px 0 0
                                color: $white
                            
                            p
                                text-transform: uppercase
                                color: $white

            #SE
                .title
                    @extend %title

                    h3
                        &::after
                            content: "y skills & education"
                            left: 86px
                            top: 74px

                            @include respond-to(handhelds)
                                left: 87px
                                top: 80px
                
                #skills
                    width: 95%

                    @include respond-to(smallDevices)
                        width: 100% !important

                    .row
                        margin-top: 10px

                    .progress-bar
                        display: -ms-flexbox
                        display: flex
                        -ms-flex-direction: column
                        flex-direction: column
                        -ms-flex-pack: center
                        justify-content: center
                        color: #fff
                        text-align: center
                        white-space: nowrap
                        background-color: $dark
                        transition: width .6s ease

                #education
                    @include respond-to(smallDevices)
                        margin-top: 20px

                    .card
                        border: 0px !important

                        .card-header
                            background: #f8f9fa !important
                            border-color: $brand-color !important
                            padding: 0 20px !important

                            button
                                color: $brand-color
                                font-size: 24px
                                @include transition(all 1s ease)
                                padding: 10px 0

                                &:hover
                                    text-decoration: none !important
                                    color: $black
                                    @include transition(all 1s ease)

                                &:focus
                                    text-decoration: none !important

                                svg
                                    color: $brand-color
                                    position: absolute
                                    right: 20px
                                    top: 20px
                                    font-size: 18px
                        
                        .card-body
                            margin: 0px 0px 0px 50px !important

                            ul

                                li
                                    font-size: 25px

                                    span
                                        font-size: 24px

                                    ul
                                        margin-left: 35px

                                        li
                                            h4, p
                                                font-size: 20px

            #contact
                .title
                    @extend %title

                    h3
                        &::after
                            content: "ontact me"
                            left: 86px
                            top: 74px

                label
                    display: none
                            

.btn-success
    background: $brand-color !important
    border-color: $brand-color !important
    border: 2px solid #1DBF73!important
    border-radius: 22px

    &:hover
        background: $hover-color !important

.btn-outline-success
    border-color: $brand-color !important
    border: 2px solid #1DBF73!important
    border-radius: 22px

    &:hover
        background: $hover-color !important

        a
            color: $white

    &:hover
        color: $white !important

    a
        color: $brand-color
        text-decoration: none

.prev, .next
    top: 100px
    padding: 4px 10px 0 9px
    width: 31px

    @include respond-to(normal-devices)
        top: 50px !important
        padding: 6px 0 0 0 !important
        width: 34px !important

.dot
    background: $brand-color

// Particle

.wrapper-background 
    position: fixed
    height: 100%
    top: 0
    left: 0
    width: 100%
    z-index: -3

    .particles-section 
        position: relative
        z-index: 1

// Particle

// Scroll To Top

#return-to-top 
    position: fixed
    bottom: 20px
    right: 20px
    background: $brand-color
    width: 50px
    height: 50px
    display: block
    text-decoration: none
    @include border-radius(35px)
    @include transition(all 0.3s linear)

    &:hover 
        background: rgba(0, 0, 0, 0.9)

    &:hover svg 
        color: $white
        top: 5px

    svg 
        color: $white
        margin: 0
        position: relative
        left: 19px
        top: 13px
        font-size: 19px
        @include transition(all 0.3s linear)

// Scroll To Top